public net.minecraft.world.entity.LivingEntity m_142540_(Lnet/minecraft/world/effect/MobEffectInstance;Lnet/minecraft/world/entity/Entity;)V # onEffectAdded
public net.minecraft.world.entity.LivingEntity m_141973_(Lnet/minecraft/world/effect/MobEffectInstance;ZLnet/minecraft/world/entity/Entity;)V # onEffectUpdated
public net.minecraft.server.level.ServerPlayer m_142540_(Lnet/minecraft/world/effect/MobEffectInstance;Lnet/minecraft/world/entity/Entity;)V # onEffectAdded
public net.minecraft.server.level.ServerPlayer m_141973_(Lnet/minecraft/world/effect/MobEffectInstance;ZLnet/minecraft/world/entity/Entity;)V # onEffectUpdated
public net.minecraft.world.effect.MobEffectInstance f_19503_ # duration

# Villager Trades
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
